.viz-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

svg {
    width:800px;
    height:600px;
    margin-inline: 1em;
    display: block;
}

.rects:hover {
    fill: #666666; /*#6B99ED; /*#1849A3, #6B99ED */
    stroke: #333333;
    stroke-width: 2px;
} 

.sliderText {
    text-align: center;
    font-size: 19px;
    -webkit-text-fill-color: #333333;
    font-weight: bold;
}

.slidecontainer {
    width: 30%;
    margin-inline: 1em;
    margin-block: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 0;
    border-radius: 2em;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #333333; /*#6B99ED; /#1F4461, #6B99ED, #DF544A*/
    cursor: pointer;
    border-radius: 2em;
}

.ticks {
    display: flex;
    justify-content: space-between;
    padding: 0px 6px;
}

.tick {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1px;
    background: #222222;    
    height: 10px;
    line-height: 40px;
    margin-bottom: 0px;
}

#bot.axis text {
    font-family: sans-serif; 
    font-size: 12px;
    font-weight: bold;
    color: black;
    transform: rotate(-90deg) translate(-37px, -15px);
}

#left.axis text {
    font-family: sans-serif; 
    font-size: 12px;
    font-weight: bold;
    color: black;
}

#tooltip {
    position: absolute;
    width: 80px;
    height: 30px;
    padding: 2px;    
    text-align: center; 
    font-family:sans-serif;
    font-size: 12px;
    font-weight: 550;
    background: powderblue; 
    border-radius: 8px;
}

.title {
    font-size: 19px;
    font-weight: bold;
    fill: #333333;
}

.axis-labels {
    font-size: 19px;
    font-weight: bold;
    fill: #333333;
}