@font-face {
    font-family: "Inter Thin";
    src: url("../assets/fonts/Inter/Inter-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Semi Bold";
    src: url("../assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Medium";
    src: url("../assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Light";
    src: url("../assets/fonts/Inter/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Extra Light";
    src: url("../assets/fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Extra Bold";
    src: url("../assets/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Black";
    src: url("../assets/fonts/Inter/Inter-Black.ttf") format("truetype");
}

:root {

    /*Viz Font Family*/
    --viz-title-font: "Inter Bold";
    --viz-axis-labels-font: "Inter Regular";
    --viz-axis-font: "Inter Regular";
    --viz-axis-font-bold: "Inter Bold";

}