@import "./global_variables.css";

body {
    background-color: #eeeeee;
}

.title-container {
    width: fit-content;
    margin-inline: auto;
    margin-top: 0.5em;
}

.title {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 28px;
    color: #3498DB;
}

#viz-container {
    margin-inline: auto;
    width: fit-content;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-inline: auto;
    margin-block: auto;
    background-color: #eeeeee;
}

.button-text {
    text-align: center;
    padding: 1em;
    font-size: 19px;
    font-family: sans-serif;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    min-width: 66px;
    width: fit-content;
    height: 20px;
    text-align: center;
    padding: 0.5em;
    border: 0.08em solid #111111;
    border-radius: 0.5rem;
    margin-inline: 1em;
    cursor: pointer;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
}

.button:hover {
    border-color: #FF6F40;
    color: #1677F5;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
}

.button:active {
    color: #1677F5;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
}

#svg1 {
    width: 1000px;
    height: 500px;
    background-color: #eeeeee;
}

#tooltip {
    position: absolute;
    width: 100px;
    height: 60px;
    padding: 2px;    
    text-align: center; 
    font-family:sans-serif;
    font-size: 12px;
    font-weight: 550;
    background: #111111; 
    border-radius: 8px;
}